/* You can add global styles to this file, and also import other style files */
.search-results {
  position: relative;
  float: right;
  width: auto;
}

.search-results li{
  color: #fff !important;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
